head
  meta(charset='utf-8')
  meta(
    name='viewport',
    content='width=device-width, initial-scale=1, shrink-to-fit=no'
  )
  meta(name='description' content='Recipe Report')
  meta(name='author' content='https://github.com/jmg1138')
  title|Recipe.Report
  link(
    rel='shortcut icon',
    href='../public/images/favicon.ico?name=Recipe.Report'
  )
  link(
    rel='stylesheet',
    href='../node_modules/bootstrap/dist/css/bootstrap.css'
  )
  link(
    rel='stylesheet',
    href='../public/css/signin.css'
  )
